<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <h1>this is list page</h1>

  <table>

   <tr>
   <td>id</td>
   <td>name</td>
   <td>age</td>
   <td>city</td>
   </tr>
   {% for datas in data %}

   <tr>
   <td>{{datas['id']}}</td>
   <td>{{datas['name']}}</td>
   <td>{{datas['age']}}</td>
   <td>{{datas['city']}}</td>
   </tr>

   {% endfor %}

</table>


</body>
</html>